spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/MYPRINTTEST
    username: postgres
    password: user
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username: hello
    password: hello

    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
springdoc:
  default-produces-media-type: application/json

server:
  port: 9090

braintree:
  merchant-id: 3fw8jj3xr2wj6cxz
  public-key: 2kjpzbj9jywchn5n
  private-key: 2ae35fe1749f5d666739f2c12217583d


